{# affichage des docs additionnels #}
<h3>Documents Complémentaires</h3>

<div class="card product-name mt-3 border p-3 mb-3">
	{% if product.productDocs|length > 0 %}
		<div class="row m-2">
			{% for doc in product.productDocs %}
				<div class="col-md-3 mb-2">
					{% if doc.image %}
						<div class="position-relative">
							<a href="{{ vich_uploader_asset(doc, 'imageFile') }}" target="_blank">
								<img src="{{ vich_uploader_asset(doc, 'imageFile')|imagine_filter('list_thumbnail') }}" alt="">
							</a>
							<button class="btn btn-danger btn-sm position-absolute top-0 end-0" data-url="{{ path('app_product_deleteDoc', {'id': doc.id}) }}" onclick="deleteDoc(this)">Delete</button>
						</div>
					{% endif %}
				</div>
				{% if loop.index is divisible by 4 %}
					<div class="row m-2"></div>
				{% endif %}
				{% if loop.last and loop.index is not divisible by 4 %}
					<div class="col-md-3 mb-2">
						<a class="text-white text-decoration-none" href="{{ path('app_product_addDoc', {'id': product.id}) }}">
							<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-info rounded text-center">
								<p class="mb-0">Add Docs</p>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
	</div>
{% else %}
	<p>Pas de documents complémentaires.</p>
	<a class="text-white text-decoration-none" href="{{ path('app_product_addDoc', {'id': product.id}) }}">
		<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-info rounded text-center">
			<p class="mb-0">Add Docs</p>
		</div>
	</a>
{% endif %}

<script>
	function deleteDoc(button) {
if (confirm('Are you sure you want to delete this document?')) {
let url = button.getAttribute('data-url');
let xhr = new XMLHttpRequest();
xhr.onreadystatechange = function () {
if (xhr.readyState === 4) {
if (xhr.status === 200) {
button.parentNode.parentNode.remove();
} else {
alert('Error deleting document.');
}
}
};
xhr.open('DELETE', url, true);
xhr.send();
}
}
</script></div>
