{% extends 'base.html.twig' %}

{% block title %}Edit
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mb-4 text-center">Modify informations for: {{ product.name }}</h1>
		<div class="row d-flex justify-content-around">
			<div class="col-md-8 card rounded mt-3">
				<div class="card-body d-flex justify-content-around">
					<div>
						<a href="{{ path('app_product_index') }}" class="btnFilter bg-info">Home</a>
					</div>
					<div>
						{{ include('product/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			{{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
		</div>


	</div>
{% endblock %}


{# {% extends 'base.html.twig' %}

{% block title %}Edit
	{{ product.name }}
{% endblock %}

{% block body %}
	<div class="container">

		<h1>Modify informations for:
			{{ product.name }}</h1>

		{{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

		
		<div class="row">
			<div class="col-md-8 card rounded mt-3">
				<div class="card-body d-flex justify-content-around">
					<div>
						<a href="{{ path('app_product_index') }}" class="btnFilter bg-info">Home</a>
					</div>
					<div>
						{{ include('product/_delete_form.html.twig') }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %} #}
