{% extends 'base.html.twig' %}

{% block title %}WarrantyZ Homepage
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="brand mt-3 text-center">
			Warranty<span class="Zcolor">Z</span>
		</h1>

		<h2 class="slogan mt-4 text-center">
			"Do you have the receipt?"
		</h2>


		{% include '_parts/nav.html.twig' %}

		{# Debut ici de la boucle d'affichage des produits en base #}
		{% if products %}
			{% for product in products %}
				<div
					class="row coucou">
					{# block gauche image produit #}

					<div class="col-md-4 d-flex justify-content-between">
						{% if product.image %}
							<a class="my-auto mx-2" href="{{ path('app_product_show', {'id': product.id}) }}">
								<img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
							</a>
						{% else %}
							<a class="my-auto mx-2" href="{{ path('app_product_show', {'id': product.id}) }}">
								<img src="{{ asset('/images/no-image-placeholder.png')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
							</a>
						{% endif %}
					</div>

					{# block central nom date ticket #}

					<div class="col-md-4">
						<a href="{{ path('app_product_show', {'id': product.id}) }}" class="text-decoration-none text-dark">
							<h2>{{ product.name }}</h2>
						</a>

						<p>Date d'achat:
							{{ product.purchaseDate|date('d-m-Y') }}</p>
						<p>Durée de la garantie:
							{{ product.warrantyDuration }}
							{{ product.warrantyDuration == 1 ? 'An' : 'Ans' }}
						</p>

						{% if product.receipt is not null %}
							<a href="{{ vich_uploader_asset(product, 'receiptFile') }}" class="btn btn-primary">Voir le ticket de caisse</a>
						{% endif %}
					</div>

					{# block droite doc date-box couleur #}

					<div class="col-md-4 d-flex flex-row-reverse justify-content-between">

						{% set expirationDate = product.expirationDate %}
						{% set today = "now"|date("Y-m-d")|date_modify('midnight') %}
						{% if expirationDate > today %}
							{% set diff = expirationDate.diff(today) %}

							{% if diff.days <= 90 %}

								<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-warning rounded text-center">
									{{ expirationDate|date("d/m Y") }}
								</div>

							{% else %}

								<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-success rounded text-center">
									{{ expirationDate|date("d/m Y") }}
								</div>

							{% endif %}
						{% else %}

							<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-danger rounded text-center">
								{{ expirationDate|date("d/m Y") }}
							</div>

						{% endif %}

						{#if du bouton docs #}
						{% if product.productDocs|length > 0 %}
						<a class="text-white text-decoration-none" href="{{ path('app_product_addDoc', {'id': product.id}) }}">
							<div class="date-box text-white mx-2 my-2 px-4 py-4 bg-info rounded text-center">
								<p class="mb-0">Docs</p>
							</div>
						</a>
						{% else %}
						<a class="text-white text-decoration-none" href="{{ path('app_product_addDoc', {'id': product.id}) }}">
							<div class="date-box text-white mx-2 my-2 px-4 py-4 bg-info rounded text-center">
								<p class="mb-0">No Docs</p>
							</div>
						</a>	
						{% endif %}


					</div>

				</div>

				<hr class="my-4">

			{% endfor %}
		{% else %}
			<div class="d-flex flex-column align-items-center">
				<h2 class="text-center mb-4">La liste est vide, ajoutez votre premier produit à l'aide du bouton</h2>
				<div>
					<a class="text-white text-decoration-none" href="{{ path('app_product_new') }}">
						<div class="date-box text-white mx-2 my-2 px-4 py-4 bg-info rounded text-center">
							<p class="mb-0">ADD</p>
						</div>
					</a>
				</div>
			</div>

		{% endif %}
	</div>

{% endblock %}
