{% extends 'base.html.twig' %}

{% block title %}WarrantyZ Homepage{% endblock %}

{% block body %}

	<div class="container">
		<h1 class="brand mt-3 text-center">
			Warranty<span class="Zcolor">Z</span>
		</h1>

		<h2 class="slogan mt-4 text-center">
			"Do you have the receipt?"
		</h2>


{# row des categories #}

	<div class="row mt-4">

		<div class="col-md-12 d-flex justify-content-around align-items-end">
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnCat bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Home
					</p>
				</div> 
			</a>
				
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnCat bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Vehicle
					</p>
				</div>
			</a>
			
			
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnCat bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Hi-Fi
					</p>
				</div>
			</a>
				
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnCat bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Jewelry
					</p>
				</div>
			</a>
			
			
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnCat bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Kids
					</p>
				</div>
			</a>
				
			<a class="d-flex justify-content-between text-decoration-none text-white" href="#">
				<div class="btnFilter bg-secondary text-white rounded text-center">
					<p class="mb-0">
						Others
					</p>
				</div>
			</a>
			
		</div>

{# row Sort By: ADD / filtrage Btn /  DATE DU JOUR #}
		<div class="row mt-4">


			<div class="col-md-4 d-flex justify-content-between">
				<a class="d-flex my-auto text-white text-decoration-none" href="{{ path('app_product_new') }}">
					<div class="date-box text-white mx-2 my-2 px-4 py-4 bg-info rounded text-center">
						<p class="mb-0">ADD</p>
				</div>
				</a>
				<h2 class="d-flex align-items-end">Sort By:</h2>
			</div>

			{% set activeRoute = app.request.requestUri == '/product/?orderBy=name' ? 'name' : 'date' %}
			
			<div class="col-md-4 d-flex justify-content-around align-items-end">
				<a class="d-flex justify-content-between text-decoration-none text-white" href="{{ path('app_product_index', {'orderBy': 'name'}) }}">
					<div class="btnFilter bg-secondary text-white rounded text-center {% if activeRoute == 'name' %}active{% endif %}">
						<p class="mb-0">
							NAME
						</p>
					</div>
				</a>
				
				<a class="d-flex justify-content-between text-decoration-none text-white" href="{{ path('app_product_index', {'orderBy': 'date'}) }}">
					<div class="btnFilter bg-secondary text-white rounded text-center {% if activeRoute == 'date' %}active{% endif %}">
						<p class="mb-0">
							DATE
						</p>
					</div>
				</a>
			</div>

			<div class="col-md-4 d-flex flex-row-reverse justify-content-between">
				<div class="date-box text-white mx-2 my-2 px-4 py-4 bg-info rounded text-center">
					{{ "now"|date("d/m Y") }}
				</div>
			</div>
		</div>

		<hr
		class="my-4">

{# Debut ici de la boucle d'affichage des produits en base #}
		{% for product in products %}
			<div class="row mt-4">
				<div class="col-md-4 d-flex justify-content-between">
					{% if product.image %}
					<a class="my-auto mx-2" href="{{ path('app_product_show', {'id': product.id}) }}">
						<img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
					</a>
					{% else %}
					<a class="my-auto mx-2" href="{{ path('app_product_show', {'id': product.id}) }}">
						<img src="{{ asset('/images/no-image-placeholder.png')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
					</a>
					{% endif %}
				</div>
				<div class="col-md-4">
					<a href="{{ path('app_product_show', {'id': product.id}) }}" class="text-decoration-none text-dark">
						<h2>{{ product.name }}</h2>
					</a>

					<p>Date d'achat:
						{{ product.purchaseDate|date('d-m-Y') }}</p>
					<p>Durée de la garantie:
						{{ product.warrantyDuration }}
					{{ product.warrantyDuration == 1 ? 'An' : 'Ans' }}
															
					</p>

					{% for receipt in product.receipts %}
						<a href="{{ asset(receipt.getImage()) }}" class="btn btn-primary">Voir le ticket de caisse</a>
					{% endfor %}
				</div>

				{% set expirationDate = product.expirationDate %}
				{% set today = "now"|date("Y-m-d")|date_modify('midnight') %}
				{% if expirationDate > today %}
					{% set diff = expirationDate.diff(today) %}

					{% if diff.days <= 90 %}
						<div class="col-md-4 d-flex flex-row-reverse justify-content-between">
							<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-warning rounded text-center">
								{{ expirationDate|date("d/m Y") }}
							</div>
						</div>
					{% else %}
						<div class="col-md-4 d-flex flex-row-reverse justify-content-between">
							<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-success rounded text-center">
								{{ expirationDate|date("d/m Y") }}
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="col-md-4 d-flex flex-row-reverse justify-content-between">
						<div class="date-box text-white mx-2 my-auto px-4 py-4 bg-danger rounded text-center">
							{{ expirationDate|date("d/m Y") }}
						</div>
					</div>
				{% endif %}


			</div>

			<hr class="my-4">
        {% else %}
            <div>
                <h2 colspan="7">La liste est vide</h2>
            </div>
        {% endfor %}
        
    
{% endblock %}
