{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}

{% block body %}
	<div class="">
		<div class="row d-flex justify-content-around">
			<div class="col-md-8 card rounded mt-3">
				<div class="card-body d-flex justify-content-around">
					<div>
						<a href="{{ path('app_product_index') }}" class="btnFilter bg-info">Home</a>
					</div>
					<div>
						<a href="{{ path('app_product_edit', {'id': product.id}) }}" class="btnFilter bg-success">Modify</a>
					</div>
					<div>
						<div>
							{{ include('product/_delete_form.html.twig') }}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row d-flex justify-content-around">
			<div class="col-md-8">
				<div class="card product-name mt-3 border p-3 mb-3">
					<h1>{{ product.name }}</h1>
					<table class="table">
						<tbody>
							<tr>
								<th>Category</th>
								<td>{{ product.category }}</td>
							</tr>
							<tr>
								<th>Image</th>
								<td>
									{% if product.image %}
										<img src="{{ vich_uploader_asset(product, 'imageFile')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
									{% else %}
										<img src="{{ asset('/images/no-image-placeholder.png')|imagine_filter('list_thumbnail') }}" alt="image de {{ product.name }}" class="img-fluid">
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Purchase Date</th>
								<td>{{ product.purchaseDate ? product.purchaseDate|date('d-m-Y') : '' }}</td>
							</tr>
							<tr>
								<th>Warranty Duration</th>
								<td>{{ product.warrantyDuration }}
									{{ product.warrantyDuration == 1 ? 'An' : 'Ans' }}</td>
							</tr>
							<tr>
								<th>Expiration Date</th>
								<td>{{ product.expirationDate ? product.expirationDate|date('d-m-Y') : '' }}</td>
							</tr>
							<tr>
								<th>Ticket de Caisse</th>
								<td>
									{% if product.receipt %}
										<div class="my-auto">
											<a href="{{ vich_uploader_asset(product, 'receiptFile') }}" class="btn btn-primary rounded">
												<h4>Ticket de caisse</h4>
												<img class="icons" src="{{ asset('/images/icons/001-receipt.png') }}" alt="receipt icon ">
											</a>
										</div>
									{% else %}
										<p>pas de ticket, c'est impossible !!</p>
									{% endif %}
								</td>
							</tr>
							<tr>
								<th>Manual</th>
								<td>
									{% if product.productDocs|filter(doc => attribute(doc, 'manual'))|length > 0 %}
										<a href="{{ vich_uploader_asset(product.productDocs.first, 'manualFile') }}" target="_blank">ICI</a>
										<a href="{{ path('app_product_deleteManual', {'id': product.productDocs.first.id}) }}" class="btn btn-danger btn-sm">Delete</a>
									{% else %}
										<p>no manual uploaded !</p>
										<a href="{{ path('app_product_addManual', {'id': product.id}) }}">ajoutez</a>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>

				</div>
				{% include '_parts/addDocShow.html.twig' %}</div>

		{% endblock %}
